@use "../../mixins" as *;

.advanced-search {
  .option {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    max-width: 170px;
    z-index: 20;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include medium {
      min-width: 100%;
    }

    &[data-display] {
      flex: 1 1 667px;
      max-width: 667px;
      border-radius: 5px 5px 0 0;
      z-index: 999;
    }

    &[data-option="ingredients"] {
      background-color: var(--clr-ingredients);
      .list {
        background-color: var(--clr-ingredients);
      }
    }

    &[data-option="ustensils"] {
      background-color: var(--clr-utensil);
      .list {
        background-color: var(--clr-utensil);
      }
    }

    &[data-option="appliances"] {
      background-color: var(--clr-appliance);
      .list {
        background-color: var(--clr-appliance);
      }
    }
  }
}
