@use "../../abstracts/mixins" as *;

.recipes {
  display: grid;
  align-self: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
