@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --clr-title: #d04f4f;
  --clr-ingredients: #3282f7;
  --clr-appliance: #68d9a4;
  --clr-utensil: #ed6454;
  --clr-grey-light: #e7e7e7;
  --clr-grey-dark: #c7bebe;

  --font-main-title: 36px;
  --font-card-heading: 18px;
  --width-max: 1240px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin-inline: clamp(10px, 3vw, 100px);
  margin-block: clamp(20px, 4vw, 42px);
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: var(--width-max);
  width: 100%;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
