header {
  color: var(--clr-title);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: var(--font-main-title);
    font-family: "DM Sans", sans-serif;
    padding-block: 5px;
  }
}
