.search-form {
  position: relative;
  max-width: 1240px;
  margin: auto;
  --input-padding: 24px;
  --clr-placeholder: #000000;

  input {
    width: 100%;
    height: 69px;
    background-color: var(--clr-grey-light);
    border: none;
    padding-block: var(--input-padding);
    padding-inline: var(--input-padding) 65px;
    font-size: 18px;

    &::placeholder {
      opacity: 0.25;
      color: var(--clr-placeholder);
    }
  }

  img {
    position: absolute;
    right: var(--input-padding);
    top: 50%;
    transform: translateY(-50%);
  }
}
