.option {
  &[data-display] {
    .dropdown-btn {
      width: auto;
      position: static;

      img {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-btn {
    display: grid;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    padding-inline: 20px;
    position: absolute;
    inset: 0;
    width: 100%;

    img {
      transition: 300ms;
    }
  }
}
